@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: IRANSans;
    src: url(../src/assets/font/IRANSans.ttf);
}

body,
.Toastify__toast {
    direction: rtl;
    font-family: IRANSans;
}